body {
    background-image: url(heart1.gif);
    
    font-family: Kirang Haerang,cursive;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    flex-direction: column;
  
}
text {
    transform: rotate(90deg);
    text-align: center;
    font-size: 12px;
  }
  
h1 {
    
    font-family: Kirang Haerang,cursive;
    color: red;
    font-size: 34px;
    font-weight: bold;
    align-self: center;
    justify-content: center;
    align-content: center;
}

 #increment-btn {
    position:relative;
    bottom:220px;
    left: 220px;
    background-color: white;
    color: red;
    
    align-self: center;
    border-radius: 70px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    justify-content: center;
    align-content: center;  
}

svg {
    align-self: center;
    height: 40vh;
    width: 40vh;
    transform: rotate(-90deg);
    position: relative;
    left:40px;
    bottom:40px; 
    
  }
 
circle {
    animation: spin 60s linear forwards;
    font-size: 40px;
    align-content: center
    
    
  }

  @keyframes spin {
    0% {
      stroke-dashoffset: 126;
    }
    100% {
      stroke-dashoffset: 0;
    }
}

#bb{
    position: relative;
    top:0px;
    right:190px;
    background-color: #2C2891;
    color: red;
    align-self: center;
    border-radius: 90px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 20px;
   justify-content: center;
    align-content: center;
}

h2 {
    font-size: 50px;
    color: white;
    position: relative;
    bottom:40px;
    margin-top: 50px;
}

#increment-btn {
    background: #2C2891;
}

#save-btn {
    background: #1C7947;
}

#save-el {
    font-weight: bold;
}

